main {
    min-height: 80vh;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

h3 {
    padding: 1rem 0;
}

.rating span {
    margin: 0.1rem;
}

.form-control {
    margin: 0;
    padding: 0.75rem 0.2rem 0.75rem 0.4rem;
    /* width: 120px; */
}

/* @media only screen and (min-width: 768px) and (max-width: 1200px) { */
@media (max-width: 800px) {
    .product-page-section {
        min-width: 350px;
    }

    .product-page-section:nth-child(3) {
        margin: 20px 0 0 50%;
    }

    /* .form-control-select {
        width: fit-content;
    } */
}
